.PokemonProfile_stats {
  text-transform: capitalize;
  text-align: center;
  margin: 0 2rem;
  /* border: 1.5px solid black; */
  border-radius: 20px;
  padding: 0 2rem;
}

.PokemonProfile_stats > p {
  margin: 0.5rem 0;
}

.PokemonProfile_statBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokemonProfile_statBar > p {
  padding: 0 0.5rem;
  margin: 0;
}

.PokemonProfile_statBarContainer {
  width: 200px;
  height: 15px;
  border: 1px solid black;
  border-radius: 20px;
}

.PokemonProfile_statBarFill {
  height: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.PokemonProfile_statBarNumber {
  font-weight: 800;
}