@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {
  font-family: 'Pokemon';
  src: url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot');
  src: url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon') format('svg');
}

.title {
  display: flex;
}

h1 {
  margin: 0rem;
  font-family: 'Pokemon';
}

header {
  align-items: center;
  background-color: burlywood;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.pokeball {
  width: 65px;
  padding-left: 2rem;
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 0.6rem;
  border: 1px solid black;
  margin: 1rem;
  text-shadow: 2px 2px lightgrey;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.55);
}

li:active {
  display: inline-block;
  transform: translate(4px, 4px);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.55);
}

li > a {
  padding: 0.6rem 2rem;
}