.PokemonProfile {
  display: flex;
  align-items: center;
}

.PokemonProfile_div_img {
  margin: 2rem;
}

.PokemonProfile_name {
  text-transform: capitalize;
}

.PokemonProfile_img {
  width: 400px;
}

.PokemonProfile_types {
  display: flex;
  justify-content: center;
}

.PokemonProfile_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}

.PokemonProfile_info > p, h3 {
  margin: 0.2rem;
}

.PokemonProfile_typeName {
  margin: 0;
}

.PokemonProfile_type {
  margin: 1rem;
  text-transform: capitalize;
}

